::ng-deep .mat-toolbar {
  z-index: 998;
  position: fixed;
}

a {
  text-decoration: none;
  color: #000000;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
}

.container-content {
  margin-top: 64px;
  width: 100%;
  height: 90%;
  border: 0;
}

.menu {
  border-bottom: #cacaca solid 1px;
  padding: 10px 0 10px 0;
}

.menu a:hover {
  color: #cacaca;
}

.menu-item {
  margin: 0 10px 0 10px;
}

.menu-item mat-icon {
  padding-right: 10px;
}

.menu-active {
  color: #3a57b7;
}

.submenu {
  flex-basis: 100%;
  height: inherit;
  font-size: 12px;
  margin-left: 10px;
}

.submenu .mat-icon {
  font-size: 18px;
  padding: 1px;
}


.sidenav-content {
  position: fixed;
  margin-top: 64px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}