<mat-card class="centralized">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Esqueci a senha</mat-card-title>
    <mat-card-subtitle>Recupere sua senha.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form id="recoverPassword" [formGroup]="recoverPasswordForm" (ngSubmit)="recoverPasswordSubmit()"
      class="flex-column">
      <mat-form-field>
        <mat-label>E-mail</mat-label><input matInput type="email" formControlName="email" id="email"
          placeholder="E-mail do usuário que esqueceu a senha" required ngModel autocomplete="new-password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repetir e-mail</mat-label><input matInput type="email" formControlName="repeatEmail" id="repeatEmail"
          placeholder="Repetir e-mail do usuário" required ngModel autocomplete="new-password">
      </mat-form-field><button mat-raised-button color="primary" [routerLink]="['/change-password']"
        routerLinkActive="router-link-active">ENVIAR</button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['/']" routerLinkActive="router-link-active">Login</button>
  </mat-card-actions>
</mat-card>
