<div>
    <form id="login" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <mat-form-field>
        <mat-label>Usuário</mat-label>
        <input matInput type="text" formControlName="user" id="user" placeholder="Sua identidade, nome de usuário ou e-mail" required ngModel autocomplete="new-password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="password" id="password" placeholder="Digite sua senha" required ngModel autocomplete="new-password">
      </mat-form-field>
      <button mat-raised-button color="primary">Entrar</button>
    </form>
</div>
