/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
}

/* Use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-form-field {
    margin-right: 20px;
}
